.shelter-details-container {
  max-width: 800px; 
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Page title styling */
.page-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; 
}

/* Container for the shelter details */
.shelter-details {
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; 
}

.shelter-details:hover {
  transform: scale(1.02); 
}

/* Shelter name styling */
.shelter-name {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #333; 
}

/* Shelter type styling */
.shelter-type {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555; 
}


.coordinates-container {
  margin-bottom: 15px;
}

.coordinates {
  font-size: 16px;
  color: #777; 
}

.directions-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.directions-btn:hover {
  background-color: #000;
  color: #fff;
  transform: translateY(-2px); 
}

.error-message {
  text-align: center;
  font-size: 18px;
  color: #ff0000; 
}